# Directories
.idea/*
.cache/*
.virtualenvs/*

#hidden Files
.bash_history
.bashrc
.gitconfig
.profile
.pythonstartup.py
.vimrc
README.txt

# Compiled Files
*.pyc

# Config & Testing Files
run.py
config.py

#Database Files
*.db

# OS Files
*.DS_Store
