{% extends "base.html" %}
{% block title %} Beer List {% endblock %}

{% block head %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='charts/charts.js')}}"></script>
<script type="text/javascript">
	$(document).ready(function(){
        plot_bac({{my_drafts|tojson|safe}},"#chart1");
        plot_beer_consumed({{all_my_drafts|tojson|safe}},"#chart2");
	});


</script>

{% endblock %}

{% block content %}
<div class="panel panel-default">

    <div class="panel-body">
        <h4> Alcohol Consumption</h4>

        <p>A graphical representation of alcohol consumed based on beer ratings </p>
        <div id="chart1"></div>
    </div>

    <div class="panel-body">
        <div id="chart2"></div>
    </div>

</div>



{% endblock %}