{% extends "base.html" %}
{% block title %} Beer List {% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="panel panel-default">


    <div class="panel-body">
        <h4> {{ this_brewery }}</h4>

        <p>A list of {{ this_brewery }}'s beers that have ever been on draft.</p>

        {% for beer in brewery_list %}

        <div class="row">
            <table class="draftlist {{loop.cycle('alt-odd', 'alt-even')}}">
                <tr>
                    <th class="first">Draft</th>
                    <th class="second">
                        {{this_brewery}}
                    </th>

                    <th class="third">
                        <a href="{{url_for('beer_info', this_beer = beer['Beer_ID'] )}}">{{beer['Beer']}}</a>
                    </th>
                </tr>

                <tr>
                    <td rowspan="3">
                        {% if beer['OnDraft']==1 %}
                        <span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-ban-circle" style="color:red"></span>
                        {% endif %}
                    </td>

                    <td> My Rating</td>
                    <td><a href="{{url_for('rate_beer', this_beer =beer['Beer_ID'])}}">
                        {% if beer['MyRating'] %}
                        {{ beer['MyRating'] | round(1, 'floor') }}
                        {% else %}
                        n/a
                        {% endif %}
                    </a>
                    </td>
                </tr>

                <tr>

                    <td> Others Rating</td>
                    <td>
                        {% if beer['OthersRating'] %}
                        {{ beer['OthersRating'] }}
                        {% else %}
                        n/a
                        {% endif %}
                    </td>
                </tr>
                {% if beer['RatingSite'] %}
                <tr>
                    <td>
                        {% if 'beeradvocate' in beer['RatingSite'] %}
                        Beer Advocate
                        {% elif 'ratebeer' in beer['RatingSite'] %}
                        Rate Beer
                        {% else %}
                        {{beer['RatingSite']}}
                        {% endif %}
                    </td>
                    <td>

                        <a href="{{beer['RatingSite']}}">
                            {% if beer['BeerRating'] %}
                            {{beer['BeerRating']}}
                            {% else %}
                            n/a
                            {% endif %}
                        </a>

                    </td>

                </tr>
                {% endif %}

            </table>
        </div>

        {% endfor %}


    </div>
</div>

{% endblock %}
