{% extends "base.html" %}
{% block title %} My Ratings {% endblock %}


{% block content %}


<div class="panel panel-default">
    <div class="panel-body">
        <h4>My Ratings</h4>

        <p> A list of all the beers I have rated. </p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> DateAndTime</th>
                <th> Brewery</th>
                <th> Beer</th>
                <th> My Rating</th>
            </tr>
            </thead>
            {% for rating in ratings %}
            <tr>
                <td>{{rating.DateAndTime | datetimeformat }}</td>
                <td>{{rating.Brewery}}</td>
                <td><a href="{{url_for('beer_info', this_beer = rating.Beer_ID )}}">{{rating.Beer}}</a></td>
                <td>{{rating.Rating}}</td>

            </tr>
            {% endfor %}
        </table>
    </div>

</div>


{% endblock %}