{% extends "base.html" %}
{% block title %} My Ratings {% endblock %}


{% block content %}


<div class="panel panel-default">
    <div class="panel-body">
        <h4>My Ratings</h4>

        <p> A list of all the beers I have rated. </p>

        <div class="row">
            {% for rating in ratings %}
            <table class="draftlist {{loop.cycle('alt-odd', 'alt-even')}}">

                <tr>
                    <th>Date</th>
                    <td>{{rating.DateAndTime | datetimeformat }}</td>
                    <td> Delete</td>

                </tr>
                <tr>
                    <th>Brewery</th>
                    <td>{{rating.Brewery}}</td>
                    <td rowspan="2">
                        <form method=post action="{{url_for('delete_rating')}}">
                            {{rating.form.hidden_tag()}}
                            {{rating.form.id()}}
                            {{rating.form.url()}}
                            <button class="btn btn-default" type="submit" value="Delete">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Beer</th>
                    <td><a href="{{url_for('beer_info', this_beer = rating.Beer_ID )}}">{{rating.Beer}}</a></td>

                </tr>
                <tr>
                    <th>Rating</th>
                    <td>{{rating.Rating}}</td>

                </tr>

            </table>
            {% endfor %}


        </div>
    </div>
</div>

{% endblock %}