<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('draft_list') }}">Porter Beer List</a>
        </div>
        {% if current_user.get_id() %}
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ current_user.UserName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="{{ url_for('blood_alcohol_level')}}">My BAC</a></li>
                        <li><a href="{{ url_for('logout')}}">Log Out</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        {% endif %}

    </div>

</nav>




