{% extends "base.html" %}
{% block title %} Beer List {% endblock %}

{% block head %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='charts/charts.js')}}"></script>
<script type="text/javascript">
	$(document).ready(function(){
        plot_beer_on_draft( '{{beer.Beer| safe}}' ,{{ on_draft | safe }})
	});

</script>

{% endblock %}

{% block content %}
<div class="panel panel-default">

    <div class="panel-body">

        <a href="{{url_for('rate_beer', this_beer=beer.Beer_ID)}}" class=" btn btn-default"> Rate
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </a>

        <h3>{{beer.Brewery}}:<em>{{beer.Beer}}</em></h3>


        <p><strong>Description: </strong>{{beer.Description}}</p>

        <table class="table table-striped">
            <tr>
                <td>Style</td>
                <td>{{beer.Style}}</td>
            </tr>
            <tr>
                <td>Origin</td>
                <td>{{beer.Origin}}</td>
            </tr>
            <tr>
                <td>Volume</td>
                <td>{{beer.Volume}}</td>
            </tr>
            <tr>
                <td>ABV</td>
                <td>{{beer.ABV}}</td>
            </tr>
        </table>

    </div>

</div>


<div class="panel panel-default">
    <div class="panel-body">
        <h3>Previous Ratings</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th> DateAndTime</th>
                <th> My Rating</th>
                <th> Remove</th>
            </tr>
            </thead>
            {% for rating in my_ratings %}
            <tr>
                <td>{{rating.DateAndTime | datetimeformat }}</td>
                <td>{{rating.Rating}}</td>
                <td>
                    <form method=post action="{{url_for('delete_rating',this_beer=beer.Beer_ID)}}">
                        {{delete_form[loop.index0].hidden_tag()}}
                        {{delete_form[loop.index0].id()}}
                        <button class="btn btn-default" type="submit" value="Delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>


<div class="panel panel-default">

    <div class="panel-body">
        <div id="chart"></div>
    </div>
</div>

{% endblock %}