{% extends "base.html" %}
{% block title %} Beer List {% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="panel panel-default">

    <div class="xtra_margin">
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Beer</th>
                <th> Brewery</th>
                <th> Rating | #</th>
            </tr>
            </thead>
            {% for beer in mybeerlist %}
            <tr>
                <td><a href="{{url_for('beer_info', Beer_ID=beer['Beer_ID'])}}">{{beer['Beer']}}</a></td>
                <td>{{beer['Brewery']}}</td>
                <td>
                    <a href="{{url_for('rate_beer', Beer_ID=beer['Beer_ID'])}}">
                    {% if beer['UserRating']  %}
                        {{ beer['UserRating'] }} | {{ beer['UserRateCnt'] }}
                    {% else %}
                         n/a | 0
                    {% endif %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p><em>Beer list was updated {{updated.DateAndTime|timedelta}} minutes ago </em></p>
    </div>

</div>
{% endblock %}
