{% extends "base.html" %}
{% block title %} Beer List {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="container-fluid">
        <div class="xtra_margin">


            <a href="{{ url_for('beer_list') }}" class=" btn btn-default"> Back
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>

            <h3>{{beer.Brewery}}:<em>{{beer.Beer}}</em></h3>


            <p><strong>Description: </strong>{{beer.Description}}</p>

            <table class="table table-striped">
                <tr>
                    <td>Style</td>
                    <td>{{beer.Style}}</td>
                </tr>
                <tr>
                    <td>Origin</td>
                    <td>{{beer.Origin}}</td>
                </tr>
                <tr>
                    <td>Volume</td>
                    <td>{{beer.Volume}}</td>
                </tr>
                <tr>
                    <td>ABV</td>
                    <td>{{beer.ABV}}</td>
                </tr>
            </table>


            <div class="col-md-12" style="margin-top:25px">
                <a href="{{url_for('rate_beer', Beer_ID=beer.Beer_ID)}}" class=" btn btn-default"> Rate
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>

            </div>


        </div>
    </div>
</div>

{% endblock %}