{% extends "base.html" %}
{% block title %} Beer List {% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="panel panel-default">

    <div class="xtra_margin">
        <h3>{{beer.Brewery}}:<em>{{beer.Beer}}</em></h3>

        <p><strong>Description:</strong> {{beer.Description}}</p>


        <form method=post action="{{url_for('rate_beer', Beer_ID=beer.Beer_ID)}}">
            <div class="form-group">
                {{ rate_form.hidden_tag() }}
                {{ rate_form.beerid() }}
                <div class="form-group">
                    <label>My Rating</label>
                    {{ rate_form.rating(class_="form-control")}}
                </div>
            </div>
             <button class=" btn btn-default"> Rate
                     <span class="glyphicon glyphicon-thumbs-up"></span>
             </button>
               <a href="{{ url_for('beer_list') }}" class=" btn btn-default pull-right"> Back
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </form>

    </div>
</div>

{% endblock %}